body{
    text-align: center;
    margin-top: 75px;
}

header{
    margin-bottom: 50px;
}

input{
    margin-left: 50px;
    border-radius: 6px;

}

button{
    background-color: green;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bolder;
}