body{
    background-color: black;
}

.wrapper{
    height: 90vh;
}

header{
    padding: 60px 0px 60px 0;
    background-image: url("http://th08.deviantart.net/fs70/PRE/f/2010/190/b/2/Disney_Characters_by_Ficklestix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    margin-bottom: 15px;
}

.header-box{
    text-align: center;
}

.subhead{
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 30px;
}


input{
    margin: 10px;
}

.btn{
   background-color: hotpink;
   color: black;
   margin-left: 25px;
   font-weight: bolder;
   font-size: 30px;
}

.char-box{
    height: 30vh;
    border: solid 2px whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    position: relative;
}

.title{
    top: 0;
    width: 100%;
    color: whitesmoke;
    margin-bottom: 0;
}

.desc{
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    margin-bottom: 0;
}

.delete{
    background-color: hotpink;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}

.pencil{
    color: hotpink;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer{
    background-image: url("http://th08.deviantart.net/fs70/PRE/f/2010/190/b/2/Disney_Characters_by_Ficklestix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60%;
    height: 10vh;
    text-align: center;
    
}

